*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background: #f9f3f9;
  text-align: center;
}

.page{
  display: none;
  padding: 40px 20px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.page.active{ display: flex; }

.title, .subtitle{
  font-family: 'Dancing Script', cursive;
  font-size: 42px;
  color: #e94f9e;
  margin-bottom: 30px;
}

/* PAGE 1 */
.gift{
  font-size: 90px;
  cursor: pointer;
  position: relative;
}
.tap{
  font-size: 16px;
  background: white;
  padding: 6px 12px;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  position: absolute;
  bottom: -15px;
  right: -40px;
  font-family: 'Poppins';
  color: #e94f9e;
}

/* PAGE 2 */
.heart{
  font-size: 100px;
  margin-bottom: 15px;
}

.btn{
  background: #ff77c5;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}
.btn:hover{
  transform: scale(1.05);
}

/* PAGE 3 */
.cards{
  display: flex;
  gap: 15px;
  margin: 30px 0;
}
.card{
  width: 70px;
  height: 100px;
  background: #ffd6ea;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 26px;
  transition: 0.4s;
}
.card.flipped{
  background: #ffe3f3;
  transform: rotateY(180deg);
  font-size: 20px;
  color: #e94f9e;
}

.final-message{
  opacity: 0;
  transition: 1.5s;
  font-size: 20px;
  margin-top: 30px;
  line-height: 30px;
  color: #e94f9e;
}
.final-message.show{
  opacity: 1;
}
